*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    margin-top: 5rem;
}

.bodyContent{
    display: flex;
    flex-direction:column;
    flex:1;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 2rem;
    width: 100%;
}

.aboutme{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
}

#projectsText{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 4rem;
    padding: 10px;
    text-decoration: underline;
}

.projects-tech{
    font-style: italic;
}

.projects{
    margin-top: 5rem;
    display:flex;
    flex-direction: row;
    font-size:4rem;
}

.projectText{
    flex-direction: column;
}

.projectTitle{
    font-weight:700;
}

.projects img{
    height: 35rem;
    width: 35rem;
    object-fit:scale-down;
}

.projects p{
    margin-right: 3rem;
}

.projectlinks{
    transition: .75s opacity;
}

.projectlinks:hover{
    opacity:.65;
}

