footer{
    background-image: linear-gradient(rgb(0, 100, 255),rgb(0, 150, 255));
    height:3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    border: 1px black solid;
    width: 100%;
}