@media(max-width:1200px){

    header{
        height:5rem;
        font-size: 1rem;
    }
    
    .title{
        font-size: 2rem;
    }

    .bodyContent{
        display: flex;
        flex-direction:column;
        flex:1;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        font-size: 2rem;
    }
    
    #projectsText{
        font-size: 5rem;
        margin-top: 2rem;
        font-weight: 700;
    }
    
    .projects{
        margin-top: 3rem;
        font-size: 2.5rem;
    }
    
    .projectText{
        flex-direction: column;
    }
    
    .projectTitle{
        font-weight:700;
    }

    .projects img{
        height: 35rem;
        width: 35rem;
    }

    .aboutme{
        font-size: 2rem;
    }
    
    .projects p{
        margin-right: 0px;
    }

    footer{
        width: 100%;
    }
}


@media(max-width:950px){

    br{
        display: none;
    }
    .aboutme{
        font-size: 1.25rem;
    }

    header{
        height:4rem;
        font-size: 1rem;
        overflow-wrap: break-word;
    }
    
    body{
        margin-top: 4rem;
    }
    .title{
        font-size: 1.2rem;
    }

    #experience{
        font-size: 1rem;
    }
    .experience-certifications{
        font-size: 1.2rem;
    }
    
    .bodyContent{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        font-size: 2rem;
        width: 100%;
    }
    
    #projectsText{
        font-size: 3rem;
        margin-top: 2rem;
        font-weight: 700;
    }
    
    .projects{
        width: 100%;
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
    
    .projectText{
        flex-direction: column;
    }
    
    .projectTitle{
        font-weight:700;
    }

    .projects img{
        height: 25rem;
        width: 25rem;
    }

    .experience-certifications li{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media(max-width:400px){

    .projects img{
        height: 20rem;
        width: 20rem;
    }

    .experience-certifications{
        font-size: .8rem;
    }
    
}