*{
    padding:0;
    margin:0;
}
header{
    display: flex;
    background-image: linear-gradient(rgb(0, 100, 255),rgb(0, 150, 255));
    height:5rem;
    align-items: center;
    justify-content: center;
    font-weight:1000;
    overflow-wrap: break-word;
    box-shadow: 0 2px black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}


.title{
    font-size: 3rem;
}
